
:root{
  --primary-color: linear-gradient(180deg, #006aff 0%, #00baff 100%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

body {
  background: var(--primary-color)
}
